ClienteWSSIE/src/META-INF/wsdl/localhost_8080/WSSIE/SIEService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.com.itesz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.com.itesz/">

<xs:element name="consultarAlumno" type="tns:consultarAlumno"/>

<xs:element name="consultarAlumnoResponse" type="tns:consultarAlumnoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="consultarAlumno">
<xs:sequence>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="creditos" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="idCarrera" type="xs:int"/>
<xs:element name="idEstatus" type="xs:int"/>
<xs:element name="noControl" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCompleto" type="xs:string" minOccurs="0"/>
<xs:element name="promedio" type="xs:float"/>
<xs:element name="sexo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>